*{
    background-color:#b5d56fc7;
    margin: 0;
    padding: 10px;
}
h1{
    border: 5px solid grey;
    border-radius: 10px;
    width: 500px;
    height:100px;
}
p{
    border: 2px solid red;
    border-radius: 5px;
    width: 500px;
    /* padding:20px; */
    padding:10px 20px 30px 40px
    
}
span{
    width:20px;
    height:30px;
    border:2px solid gray;
    padding: 20px; 
    display: block;
}
.box{
    box-sizing: border-box;
}
img{
    margin: 10px;
    padding:3px;
}
div{
    border: 1px solid black;
}
.image2{
position: relative;
top: 200px;
/* left:200px; */
}
.parent{
    background-color:aqua;
    border: 2px solid green;
}
.child{
    background-color:yellow;
    border: 2px solid red;
    width: 50%
}