*{
    background-color:#b5d56fc7;
    margin: 0;
    padding: 10px;
}
h1{
    border: 5px solid grey;
    border-radius: 10px;
    width: 500px;
    height:100px;
}
p{
    border: 2px solid red;
    border-radius: 5px;
    width: 500px;
}
span{
    width:20px;
    height:30px;
    border:2px solid gray;
}